:root {
  --primary-white: #fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgb(255,255,255,0);
}
nav{
  .navlink{
    cursor: pointer;
  letter-spacing: 0.1rem;
  text-decoration: none;
  }

  li{
    text-transform: uppercase;
  }

  a{
    margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-top: 0.1rem solid var(--primary-dark);
  }

  .navbar-nav{
    a.active:focus{
      border-top: 0.1rem solid var(--primary-orange);
      
    }
  }
  .navbar-nav{
    a:hover{
      border-top: 0.1rem solid var(--primary-orange);
    }
  }
}
